<!DOCTYPE html>
<html>
<head>
	<title>ADMIN</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/first_app/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/first_app/css/admin.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
	<script src="static/first_app/js/faradenza.js"></script>
</head>
<body>
{% include "first_app/hat.html" %}
<nav class="navbar navbar-inverse" data-spy="affix">
  <div class="container-fluid">
  	<div class="row">
    	<div class="col-xs-1">
				{% include "first_app/navigation.html" %}
			</div>
	    <div class="col-xs-9">
				<h3>Кабинет администратора</h3>
			</div>
	    <div class="col-xs-2">
				{% include "first_app/exiticon.html" %}
			</div>
	  </div>
	</div>
</nav>

<div class="container-fluid" style="width: 100%;">
	<section id="no-more-tables">
		<h1 style="background-color: black">Все заказы: </h1>
			<div class="table-responsive" style="margin-bottom: 0px;">
				<table style="margin-bottom: 0px;" class="table table-striped">
					<thead class="thead-dark">
						<tr style="background-color: black;">
							<th>#</th>
							<th>Дата заказа</th>
							<th>Заказчик</th>
							<th>Название</th>
							<th>Категория</th>
							<th>Кол.во</th>
							<th>Год</th>
							<th>Бренд</th>
							<th>Модель</th>
							<th>Номер</th>
							<th>Ссылка</th>
							<th>Отправка</th>
							<th>Пометки</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for o in all_orders %}
						<tr>
							<td data-title="#" id="number"><div class="count"></div></td>
							<td data-title="Дата заказа">{{o.created_at}}</td>
							<td data-title="Заказчик"><a href="partner/{{o.partner.user_id}}">{{o.partner.alias}}</a></td>
							<td data-title="Название">{{o.title}}</td>
							<td data-title="Категория">{{o.category}}</td>
							<td data-title="Кол.во">{{o.quantity}}</td>
							<td data-title="Год">{{o.year}}</td>
							<td data-title="Бренд">{{o.brand}}</td>
							<td data-title="Модель">{{o.model}}</td>
							<td data-title="Номер"><div>{{o.serial}}</div></td>
							<td data-title="Ссылка"><div><a href="{{o.link}}">Перейти</a></div></td>
							<td data-title="Отправка">{{o.location}}</td>
							<td data-title="Пометки"><div>{{o.notes}}</div></td>
							<td data-title=""><a href="/delete_order_by_superuser/{{o.id}}">Удалить</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
	</section>
</div>
{% include "first_app/footer.html" %}
</body>
</html>