<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div style="background-color: rgba(0, 0, 0, 0.8)">
	<div class="modal-body">
	  <h3>Выбор и поиск транспорного средства / комплектующих</h3>
	  <p>Вы можете самостоятельно выбрать интересующий Вас вид товара на ресурсах, представленных ниже. После совершённого выбора Вы можете оставить ссылку на тот или иной товар в анкете, что-бы получить от нас консультацию, а так же точную цену за покупку и доставку наименования</p>
	</div>
	<div class="modal-body">
	  <p>Платформы купли/продажи автомобилей:</p>
	  <div class="row">  
	    <div class="col-xs-12">
	      <div class="col-xs-4">
	        <a href="https://www.cars.com/">
	        <img class="img-icons" style="width: 75%" ; src="static/first_app/images/car_sites/cars.png"></a>
	        <a href="https://www.cargurus.com/">
	        <img class="img-icons" style="width: 85%" ; src="static/first_app/images/car_sites/cg.png"></a>
	        <a href="https://www.iaai.com/ru-ru/">
	        <img class="img-icons" style="width: 75%" ; src="static/first_app/images/car_sites/iaai.png"></a>
	        <a href="https://www.manheim.com/">
	        <img class="img-icons" style="width: 73%" ; src="static/first_app/images/car_sites/manheim.png"></a>
	      </div>

	      <div class="col-xs-4">
	        <a href="https://losangeles.craigslist.org/d/cars-trucks/search/cta">
	        <img class="img-icons" style="width: 95%"; src="static/first_app/images/car_sites/craig.png"></a>
	        <a href="http://www.opgla.com/auction/auction.aspx">
	        <img class="img-icons" style="width: 60%" ; src="static/first_app/images/car_sites/opg.png"></a>
	        <a href="https://www.govplanet.eu/">
	        <img class="img-icons" style="width: 70%" ; src="static/first_app/images/car_sites/gp.png"></a>
	        <a href="https://www.auctiontime.com/">
	        <img class="img-icons" style="width: 80%"; src="static/first_app/images/car_sites/time1.png"></a>
	      </div>

	      <div class="col-xs-4">
	        <a href="https://www.copart.com/ru/">
	        <img class="img-icons" style="width: 85%"; src="static/first_app/images/car_sites/copart.png"></a>
	        <a href="https://www.crashedtoys.com/">
	        <img class="img-icons" style="width: 85%"; src="static/first_app/images/car_sites/ct1.png"></a>
	        <a href="https://www.richmondaa.com/">
	        <img class="img-icons" style="width: 62%"; src="static/first_app/images/car_sites/richmond.png"></a>
	        <a href="https://www.driveautoauctions.com/">
	        <img class="img-icons" style="width: 70%" ; src="static/first_app/images/car_sites/daa.png"></a>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal-body">
	  <p>Платформы купли/продажи запчастей:</p>
	  <div class="row"> 
	    <div class="col-xs-12" id="parts">
	      <div class="col-xs-4">
	        <a href="https://www.usautoparts.com/">
	        <img class="img-icons" style="width: 85%" ; src="static/first_app/images/parts_sites/us-auto.png"></a>
	        <a href="https://www.ebay.com/b/Auto-Parts-Accessories/6028/bn_569479">
	        <img class="img-icons" style="width: 72%" ; src="static/first_app/images/parts_sites/ebay.png"></a>
	        <a href="http://www.carid.com/auto-parts.html">
	        <img class="img-icons" style="width: 85%" ; src="static/first_app/images/parts_sites/carid.png"></a>
	      </div>
	      <div class="col-xs-4">
	        <a href="https://www.autozone.com">
	        <img class="img-icons" style="width: 70%" ; src="static/first_app/images/parts_sites/autozone.png"></a>
	        <a href="http://www.car-part.com/">
	        <img class="img-icons" style="width: 85%" ; src="static/first_app/images/parts_sites/car-part.png"></a>
	        <a href="https://www.rockauto.com/">
	        <img class="img-icons" style="width: 80%" ; src="static/first_app/images/parts_sites/rock.png"></a>
	      </div>
	      <div class="col-xs-4">
	        <a href="https://www.amazon.com/automotive-auto-truck-replacements-parts/b?ie=UTF8&node=15684181&tag=googhydr-20&hvadid=223646216809&hvpos=1t1&hvexid=&hvnetw=g&hvrand=9689631577562816335&hvpone=&hvptwo=&hvqmt=b&hvdev=c&ref=pd_sl_528uvf94mx_b&hvtargid=aud-649564993678:kwd-649787178421">
	        <img class="img-icons" style="width: 75%" ; src="static/first_app/images/parts_sites/amazon.png"></a>
	        <a href="https://www.usautoparts.com/">
	        <img class="img-icons" style="width: 80%" ; src="static/first_app/images/parts_sites/oreilly1.png"></a>
	        <a href="https://losangeles.craigslist.org/d/auto-parts/search/pta">
	        <img class="img-icons" style="width: 95%"; src="static/first_app/images/parts_sites/craig.png"></a>
	      </div>
	    </div>
	  </div> 
	</div>
	</div>
</body>
</html>