<!DOCTYPE html>
<html>
<head>
	<title>FOOTER</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/first_app/css/footer.css">
</head>
<body>
<footer class="container-fluid text">
  <div class="row-social"> 
    <a href="https://t.me/Mafi0s" class="scl-btn scl-crcl shadow fab fa-telegram-plane"></a>
    <a href="#" class="scl-btn scl-crcl shadow fab fa-vk"></a>
    <a href="https://wa.me/14243851888" class="scl-btn scl-crcl shadow fab fa-whatsapp"></a>
    <a href="skype:slava.borzunov?call" class="scl-btn scl-crcl shadow fab fa-skype"></a>
    <a href="#" class="scl-btn scl-crcl shadow fab fa-google"></a>
    <a href="#" class="scl-btn scl-crcl shadow fab fa-facebook-messenger"></a>
    <a href="#" class="scl-btn scl-crcl shadow fab fa-facebook-f"></a>
    <a href="#" class="scl-btn scl-crcl shadow fab fa-instagram"></a>
    <a href="https://www.youtube.com/watch?v=jgpJVI3tDbY" class="scl-btn scl-crcl shadow fab fa-youtube"></a>
  </div>
</footer>
</body>
</html>