<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Наименование товара: <strong>{{ title }}</strong> </p>
	<p>Категория товара: <strong>{{ category }}</strong> </p>
	<p>Количество: <strong>{{ quantity }}</strong> </p>
	<p>Год: <strong>{{ year }}</strong> </p>
	<p>Бренд: <strong>{{ brand }}</strong> </p>
	<p>Модель: <strong>{{ model }}</strong> </p>
	<p>VIN/Серийный Номер: <strong>{{ serial }}</strong> </p>
	<p>Ссылка: <strong>{{ link }}</strong> </p>
	<p>Местоположение: <strong>{{ location }}</strong> </p>
	<p>Пометки: <strong>{{ notes }}</strong> </p>

</body>
</html>
